* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #323043;
  color: white;
  line-height: 1.6;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #12111a;
}
.logo {
  font-weight: bold;
  font-size: 24px;
}
nav a {
  margin-left: 30px;
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
}
nav .contact-btn {
  background-color: #7b2ff7;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 40px;
}
.hero-image {
  flex: 1;
  text-align: center;
}
.hero-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 50%;
}
.hero-text {
  flex: 1;
  padding: 20px;
}
.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.hero-text h1 span {
  color: #8c8c8c;
}
.hero-text p {
  font-size: 16px;
  color: #d0d0d0;
  max-width: 500px;
}
.footer {
    background-color: #2c3e50;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
  }
  .footer-section {
    min-width: 200px;
    margin: 10px;
  }
  .footer-section a{
    text-decoration: none;
    color: #fff;
  }
  .footer-section h2,
  .footer-section h3 {
    margin-bottom: 15px;
  }
  .footer-section p,
  .footer-section li {
    font-size: 0.9rem;
    line-height: 1.5;
    list-style: none;
  }